%h1 Labguru API
.row
  - index["resources"].in_groups_of(index["resources"].length / 3).each do |group|
    .span5
      - group.each do |resource|
        .resource
          %h3= resource["name"]
          %ul.examples
            - resource["examples"].each do |example|
              %li.example
                = link_to example["description"], "/#{example["link"].gsub(".json", "")}"